.opisanie_tegov {

width: ...; /* Ширина*/

height: 46px; /* Высота*/

letter-spacing: 0.1em; /* Интервал между символами*/

padding: 22px 0 0 0; /* Внутренний отстум (верх право низ лево)*/

margin: 0 0 0 0; /* Внешний отступ */

text-decoration: ...; /* Свойство для стилизации ссылок*/

float: right; /* Прижимает элемент к краю. В данном случае к правому краю*/

list-style: none; /*Не показываются точки перед каждым пунктом (т.е. li) на сайте*/

display: block; /* Превращает строчный элемент в блочный*/

overflow: hidden; /* Скрывает контент выходящий за рамки заданного 
					размера*/
border: solid 1px #f2f2f2; /* border - Это рамка вокруг лбъекта
							  solid - Это стиль рамки
							  1px - ширина рамки
							  #f2f2f2 - цвет рамки*/

border-radius: 5px; /* Закругление уклов для border*/

outline: none; /* Убирает свечении рамки в которую вводится текст*/

cursor: pointer; /* Изменение курсора при наведении на ссылку*/

text-align: center; /* Размещает элемент по центру страницы*/

clear: both; /* Это свойство запрещает оптекание элемента, 
				в которое оно добавлено. Т.е. элемент не будет
				прилипать к тексту и все время будет оставаться 
				на своем месте.*/


display: none; /* Позволяет скрыть любой элемент, чтобы его 
				не было видно.*/

vertical-align: middle; /* центрирует по вертикали */


}
ul.menu li a:hover {} /* :hover - это псевдокласс. При наведении на объект 
						меняется его вид. Внутрки { } задается свойство 
						на которое объект будет меняться*/



* {  } /* Стиль для всех элементов*/

input[type="text"], input[type=password], { } /* Задаем стили 
												для конкретных input
												т.е. окон, а которые 
												вводится информация*/

